https://prometheus.example.com {
    log / stdout "{when} {host} {remote} - {user} \"{method} {uri} {proto}\" {status} {size} {latency_ms}"
    errors stderr
    tls tls/prometheus.example.com-crt.pem tls/prometheus.example.com-key.pem
    proxy / localhost:9090 {
        transparent
    }
}

https://alertmanager.example.com {
    log / stdout "{when} {host} {remote} - {user} \"{method} {uri} {proto}\" {status} {size} {latency_ms}"
    errors stderr
    tls tls/alertmanager.example.com-crt.pem tls/alertmanager.example.com-key.pem
    proxy / localhost:9093 {
        transparent
    }
}

https://elasticsearch.example.com {
    log / stdout "{when} {host} {remote} - {user} \"{method} {uri} {proto}\" {status} {size} {latency_ms}"
    errors stderr
    tls tls/elasticsearch.example.com-crt.pem tls/elasticsearch.example.com-key.pem
    proxy / localhost:9200 {
        transparent
    }
}

https://kibana.example.com {
    log / stdout "{when} {host} {remote} - {user} \"{method} {uri} {proto}\" {status} {size} {latency_ms}"
    errors stderr
    tls tls/kibana.example.com-crt.pem tls/kibana.example.com-key.pem
    proxy / 127.0.0.1:5601 {
        transparent
    }
}

https://grafana.example.com {
    log / stdout "{when} {host} {remote} - {user} \"{method} {uri} {proto}\" {status} {size} {latency_ms}"
    errors stderr
    tls tls/grafana.example.com-crt.pem tls/grafana.example.com-key.pem
    proxy / localhost:9091 {
        transparent
    }
}

# reverse proxy for all the exporters on the local machine that
# requires a client certificate.
https://prometheus.example.com:9009 {
    log / stdout "{when} {host} {remote} - {user} \"{method} {uri} {proto}\" {status} {size} {latency_ms}"
    errors stderr
    tls tls/prometheus.example.com-crt.pem tls/prometheus.example.com-key.pem {
        clients tls/prometheus-example-ca-crt.pem
    }
    proxy /blackbox localhost:9115 {
        without /blackbox
    }
    proxy /pce localhost:9358 {
        without /pce
    }
    proxy /pse localhost:9360 {
        without /pse
    }
    proxy /wmi localhost:9182
}
