https://prometheus.example.com {
    bind prometheus.example.com
    tls tls/prometheus.example.com-crt.pem tls/prometheus.example.com-key.pem
    proxy / localhost:9090 {
        transparent
    }
}

# wmi_exporter
https://prometheus.example.com:9182 {
    bind prometheus.example.com
    tls tls/prometheus.example.com-crt.pem tls/prometheus.example.com-key.pem {
        clients tls/prometheus-example-ca-crt.pem
    }
    proxy / localhost:9182 {
        transparent
    }
}

https://alertmanager.example.com {
    bind alertmanager.example.com
    tls tls/alertmanager.example.com-crt.pem tls/alertmanager.example.com-key.pem
    proxy / localhost:9093 {
        transparent
    }
}
